aenum
argparse
beautifulsoup4
boto3
cdrouter
debtcollector
distro
dlipower
dnspython
docutils<0.16
easysnmp
elasticsearch>=1.0.0
Faker
future
ipaddress
jira
jsonschema
marshmallow<3
matplotlib
nested_lookup==0.2.19
netaddr
pexpect
pre-commit
psutil
pycountry
pycryptodome
pyflakes
pymongo
pyserial
pysmi
pysnmp
pytest==5.3.5
pytest-html
pytest-mock
pytest-randomly
pyvirtualdisplay
requests
retry
selenium
simplejson
six
sphinx
termcolor
unittest2
xmltodict
xvfbwrapper
yapf
zeep
